@model Bouquet.Models.Company
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Create Company";
}

<section class="form-container shadow5 background-bright-grey">
   @* Mobile Layout*@
    <form method="post" enctype="multipart/form-data" autocomplete="off" class="mobile-item">
        <div class="item-header text-header grid-three-column-center ">
            @if (Model.Id != 0)
            {
                //edit
                title = "Edit Company";
                <input type="hidden" asp-for="Id" />
            }
            <div></div>
            <h1 class="item-row-center">@title</h1>
            <div class="item-row-right ">
                <a asp-action="Index" class="p-0 a-btn"><i class="icon-arrow-left-in-square i-btn "></i></a>
            </div>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @* Main body part*@

        <div class="p-h-10 m-0  m-h-5 p-t-10 ">
            <label asp-for="Name"></label><br>
            <span asp-validation-for="Name" class="text-danger"></span>
            <div class="input-container ">
                <input class="input-field " id="name" type="text" asp-for="Name" placeholder="Company Name" minlength="3" maxlength="30">
            </div>
        </div>
        <div class="p-h-10 m-0  m-h-5 ">
            <label asp-for="StreetAddress"></label><br>
            <span asp-validation-for="StreetAddress" class="text-danger"></span>
            <div class="input-container ">
                <input class="input-field " id="streetAddress" type="text" asp-for="StreetAddress" placeholder="StreetAddress" minlength="3" maxlength="30">
            </div>
        </div>
        <div class="p-h-10 m-0  m-h-5 ">
            <label asp-for="City"></label><br>
            <span asp-validation-for="City" class="text-danger"></span>
            <div class="input-container ">
                <input class="input-field " id="city" type="text" asp-for="City" placeholder="City" minlength="3" maxlength="30">
            </div>
        </div>
        <div class="p-h-10 m-0  m-h-5 ">
            <label asp-for="State"></label><br>
            <span asp-validation-for="State" class="text-danger"></span>
            <div class="input-container ">
                <input class="input-field " id="state" type="text" asp-for="State" placeholder="State" minlength="2" maxlength="30">
            </div>
        </div>
        <div class="p-h-10 m-0  m-h-5 ">
            <label asp-for="PostalCode"></label><br>
            <span asp-validation-for="PostalCode" class="text-danger"></span>
            <div class="input-container ">
                <input class="input-field " id="postalCode" type="text" asp-for="PostalCode" placeholder="PostalCode" minlength="6" maxlength="7">
            </div>
        </div>
        <div class="p-h-10 m-0  m-h-5 ">
            <label asp-for="Phone"></label><br>
            <span asp-validation-for="Phone" class="text-danger"></span>
            <div class="input-container ">
                <input class="input-field " id="phone" type="text" asp-for="Phone" placeholder="Phone" minlength="10" maxlength="14">
            </div>
        </div>
        <div class="input-field m-b-10 text-center">
            <label asp-for="IsAuthorizedCompany"> Is Authorized Company</label>
            <input asp-for="IsAuthorizedCompany" class="my-checkbox" style="margin: 0 0 0 20px; transform: translateY(8px); " />
        </div>

        <hr class="width-max">
        <div class="p-h-10">
            <button class="btn-wide btn-success m-v-10 p-5" onclick="return validateInput()">@title</button>
        </div>
        <hr class="width-max">
    </form>

  @*  Main Layout*@
<form method="post" enctype="multipart/form-data" autocomplete="off" class="main-item">
    <div class="item-header text-header grid-three-column-center main-item shadow5 " style="height:68px;">
        @if (Model.Id != 0)
        {
            //edit
            title = "Edit Company";
            <input type="hidden" asp-for="Id" />
            <div class="item-row ">
            </div>
        }
        else
        {
            <div></div>
        }
        <h1 class="item-row-center p-5 font-22">@title</h1>
        <div class="item-row p-5 ">
            <a asp-action="Index" class="p-0 a-btn item-row-right m-r-15"><i class="icon-arrow-left-in-square i-btn "></i></a>
        </div>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    @* Main body part*@

    <div class="border-3 p-5">
    <div class="p-10 m-0  m-h-5">
        <label asp-for="Name"></label><br>
        <span asp-validation-for="Name" class="text-danger"></span>
        <div class="input-container ">
            <input class="input-field " id="name1" type="text" asp-for="Name" placeholder="Company Name" minlength="3" maxlength="30">
        </div>
    </div>
    <div class="p-h-10 m-0  m-h-5 ">
        <label asp-for="StreetAddress"></label><br>
        <span asp-validation-for="StreetAddress" class="text-danger"></span>
        <div class="input-container ">
            <input class="input-field " id="streetAddress1" type="text" asp-for="StreetAddress" placeholder="StreetAddress" minlength="3" maxlength="30">
        </div>
    </div>

    <div class="grid-two-column-equal ">
        <div class="p-h-10 m-0  m-h-5  ">
            <label asp-for="City"></label><br>
            <span asp-validation-for="City" class="text-danger"></span>
            <div class="input-container ">
                <input class="input-field " id="city1" type="text" asp-for="City" placeholder="City" minlength="3" maxlength="30">
            </div>
        </div>
        <div class="p-h-10 m-0  m-h-5 ">
            <label asp-for="State"></label><br>
            <span asp-validation-for="State" class="text-danger"></span>
            <div class="input-container ">
                <input class="input-field " id="state1" type="text" asp-for="State" placeholder="State" minlength="2" maxlength="30">
            </div>
        </div>
        <div class="p-h-10 m-0  m-h-5 ">
            <label asp-for="PostalCode"></label><br>
            <span asp-validation-for="PostalCode" class="text-danger"></span>
            <div class="input-container ">
                <input class="input-field " id="postalCode1" type="text" asp-for="PostalCode" placeholder="PostalCode" minlength="6" maxlength="7">
            </div>
        </div>
        <div class="p-h-10 m-0  m-h-5 ">
            <label asp-for="Phone"></label><br>
            <span asp-validation-for="Phone" class="text-danger"></span>
            <div class="input-container ">
                <input class="input-field " id="phone1" type="text" asp-for="Phone" placeholder="Phone" minlength="10" maxlength="14">
            </div>
        </div>
      
    </div>
        <div class="input-field m-b-10 text-center">
            <label asp-for="IsAuthorizedCompany"> Is Authorized Company</label>
            <input asp-for="IsAuthorizedCompany" class="my-checkbox" style="margin: 0 0 0 20px; transform: translateY(8px); " />
        </div>
        <hr class="width-max">
        <div class="p-h-10">
            <button class="btn-wide btn-success m-v-10 p-5" onclick="return validateInput1()">@title</button>
        </div>
        <hr class="width-max">
    </div>   

</form>
</section>


@section Scripts{
    <script>
        function validateInput() {
            if (document.getElementById("name").value == "") {
                swal("Error", "Please fill Company name", "error");
                return false;
            }
           else if (document.getElementById("streetAddress").value == "") {
                swal("Error", "Please fill Company Address", "error");
                return false;
            }
          else  if (document.getElementById("city").value == "") {
                swal("Error", "Please fill Company City", "error");
                return false;
            }
           else if (document.getElementById("state").value == "") {
                swal("Error", "Please fill Company State", "error");
                return false;
            }
           else if (document.getElementById("postalCode").value == "") {
                swal("Error", "Please fill Company Postal Code", "error");
                return false;
            }
           else if (document.getElementById("phone").value == "") {
                swal("Error", "Please fill Company Phone number", "error");
                return false;
            }
            return true;
        }

        function validateInput1() {
            if (document.getElementById("name1").value == "") {
                swal("Error", "Please fill Company name", "error");
                return false;
            }
            else if (document.getElementById("streetAddress1").value == "") {
                swal("Error", "Please fill Company Address", "error");
                return false;
            }
            else if (document.getElementById("city1").value == "") {
                swal("Error", "Please fill Company City", "error");
                return false;
            }
            else if (document.getElementById("state1").value == "") {
                swal("Error", "Please fill Company State", "error");
                return false;
            }
            else if (document.getElementById("postalCode1").value == "") {
                swal("Error", "Please fill Company Postal Code", "error");
                return false;
            }
            else if (document.getElementById("phone1").value == "") {
                swal("Error", "Please fill Company Phone number", "error");
                return false;
            }
            return true;
        }
    </script>
}
