@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
    <div class="grid-two-column-right alert alert-@statusMessageClass alert-dismissible" role="alert" id="statusMessage">
        <div class="m-t-5 m-l-15 text-left">
            @Model
        </div>
        <div class="a-btn-md close" onclick="closeStatusMessage()"></div>
    </div>
}


<script type="text/javascript">
    function closeStatusMessage() {
        document.querySelectorAll('.alert')[0].remove();
        document.querySelectorAll('.alert')[1].remove();
    }

    setTimeout(function () {
        document.querySelectorAll('.alert')[0].classList.add('hide');
        document.querySelectorAll('.alert')[1].classList.add('hide');
    }, 2500);

</script>