@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}



<div class="form-container shadow5 background-bright-grey p-b-5">   
    <form method="post">
        <div class="item-header text-header grid-three-column-center  mobile-item">
            <div></div>
            <h1 class="item-row-center">
                Recovery password
            </h1>
            <div class="item-row-right ">
                <a asp-action="Login" asp-area="Identity" asp-controller="Account" class="p-0 a-btn"><i class="icon-arrow-left-in-square i-btn "></i></a>
            </div>
        </div>
        <div class="item-header text-header grid-three-column-center main-item header-height">
            <div></div>
            <h1 class="item-row-center p-5 font-22">
                Recovery password
            </h1>
            <div class="item-row-right p-5">
                <a asp-action="Login" asp-area="Identity" asp-controller="Account" class="p-0 a-btn item-row-right m-r-15"><i class="icon-arrow-left-in-square i-btn "></i></a>
            </div>
        </div>
        <div class="p-h-15 m-t-10">
            <label asp-for="Input.Email"></label><br />
            <div class="input-container background-white">
                <i class="icon-email icon "></i>
                <input asp-for="Input.Email" placeholder="Email..." type="email" class="input-field" />
            </div>
            @*   <input asp-for="Input.Email" class="form-control" />*@
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <br />
        <hr class="width-max">
        <div class="p-h-15 m-v-10">
            <button type="submit" class="btn-wide btn-success">Submit</button>
        </div>
        <hr class="width-max">
        <br />

    </form>
  
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
