@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="form-container shadow5 background-bright-grey">
    <div class="item-header text-header grid-three-column-center mobile-item shadow5">
        <div></div>
        <h1 class="item-row-center">
            @ViewData["Title"]
        </h1>
        <div class="item-row-right ">
            <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="p-0 a-btn"><i class="icon-arrow-left-in-square i-btn"></i> </a>
        </div>
    </div>
    <div class="item-header text-header grid-three-column-center main-item shadow5 header-height">
        <div></div>
        <h1 class="item-row-center p-5 font-22">
            @ViewData["Title"]
        </h1>
        <div class="item-row p-5">
            <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="p-0 a-btn item-row-right m-r-15"><i class="icon-arrow-left-in-square i-btn"></i> </a>
        </div>
    </div>
    <div class="p-5 m-0 m-h-5 background-bright-grey ">
        <form method="post">        
            <input asp-for="Input.Code" type="hidden" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            <div class="grid-form-two-column" style="grid-template-columns: 140px 9fr;">
                <label class="input-pre-field" asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="input-after-field" />
            </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            <div class="grid-form-two-column" style="grid-template-columns: 140px 9fr;">
                <label class="input-pre-field" asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="input-after-field" />
            </div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            <div class="grid-form-two-column" style="grid-template-columns: 140px 9fr;">
                <label class="input-pre-field" asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="input-after-field" />
            </div>    
            <button type="submit" class=" btn-wide btn-success text-center rounded-5 p-10 m-t-10 m-b-10">Reset</button>         
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
