@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}


<div class="form-container shadow5 background-bright-grey">
    <div class="item-header text-header grid-three-column-center mobile-item shadow5" >
        <div></div>
        <h1 class="item-row-center">
            @ViewData["Title"]
        </h1>
        <div class="item-row-right ">
            <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="p-0 a-btn"><i class="icon-arrow-left-in-square i-btn"></i> </a>
        </div>
    </div>
    <div class="item-header text-header grid-three-column-center main-item shadow5 header-height" >
        <div></div>
        <h1 class="item-row-center p-5 font-22">
            @ViewData["Title"]
        </h1>
        <div class="item-row p-5">
            <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="p-0 a-btn item-row-right m-r-15"><i class="icon-arrow-left-in-square i-btn"></i> </a>
        </div>
    </div>
    <div class="p-10 m-10 text-center">
        <img src="~/images/icons/NCraft-color.svg" style="width:50%; " class="shadow2 p-10 m-l-5 m-t-10" />
        <div class=" text-center text-main p-10 font-14">
            <p class="p-15">
                Your password has been reset.
            </p>

            <hr class="p-5 m-10" />
            <a class="a-btn btn-success text-white p-t-10 m-t-10" asp-page="./Login"> Please click here to log in</a>.
            <hr class="p-5" />

        </div>
    </div>
</div>