@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
<div class="font-18 p-10 text-center">@ViewData["Title"]</div>
<hr />
<partial name="_StatusMessage" for="StatusMessage" />

<form id="change-password-form" method="post" class="p-h-5">
    <div asp-validation-summary="All" class="text-danger font-13"></div>
    <div class="input-container background-medium-grey">
        <label asp-for="Input.OldPassword" style="width:180px;" class="font-mobile-11 m-t-10 m-l-10 "></label>
        <input asp-for="Input.OldPassword" class="input-field background-light-grey" />
       @* <span asp-validation-for="Input.OldPassword" class="text-danger"></span>*@
    </div>
    <div class="input-container background-medium-grey">
        <label asp-for="Input.NewPassword" style="width:180px;" class="font-mobile-11 m-t-10 m-l-10 "></label>
        <input asp-for="Input.NewPassword" class="input-field background-light-grey" />
       @* <span asp-validation-for="Input.NewPassword" class="text-danger"></span>*@
    </div>
    <div class="input-container background-medium-grey">
        <label asp-for="Input.ConfirmPassword" style="width:180px;" class="font-mobile-11 m-t-10 m-l-10 ">Confirm password</label>
        <input asp-for="Input.ConfirmPassword" class="input-field background-light-grey" />
        @*<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>*@
    </div>
    <hr class="m-v-10" />
    <button type="submit" class="btn-wide btn-success text-center rounded-5 ">Update password</button>
    <hr class="m-v-10" />
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}