@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="font-18 p-10 text-center">@ViewData["Title"]</div>

<hr />

<div class="alert m-t-5" role="alert">
    <p class="text-center text-danger font-bolder" > Deleting this data will permanently remove your account, and this cannot be recovered.
    </p>
</div>


<form id="delete-user" method="post">
    <div asp-validation-summary="All" class="text-danger font-13"></div>
    @if (Model.RequirePassword)
    {
        <div class="input-container">
            <label asp-for="Input.Password" style="width:120px;" class="font-13 m-t-10 m-l-10 "></label>
            <input asp-for="Input.Password" class="input-field" />
        </div>
    }
    <hr class="m-v-10" />
    <button class="btn-wide btn-danger text-center rounded-5 " type="submit">Delete data and close my account</button>
    <hr class="m-v-10" />
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}