@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="font-18 p-10 text-center">@ViewData["Title"]</div>
<hr />


    <div class="p-5 ">
        <p class="p-h-10">Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p class="p-h-10">
            <strong >Deleting this data will permanently remove your account, and it cannot be recovered.</strong>
        </p>
        <div class="grid-two-column-equal m-t-5 border-3">
            <form id="download-data" asp-page="DownloadPersonalData" method="post" class="item-row-center">
                <button class="btn-wide btn-secondary text-center rounded-5 p-8 " type="submit">Download</button>
            </form>
            <div class="item-row-center">
                <a id="delete" asp-page="DeletePersonalData" class="btn-wide btn-danger text-center rounded-5  p-8">Delete</a>
            </div> 
        </div>
    </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}