@model Bouquet.Models.ViewModels.ShoppingCartVM

<section class="form-container background-bright-grey" id="tableContainer">
    <div class="item-header text-header grid-three-column-center mobile-item " id="cartHeader">
        <div></div>
        <h1 class="item-row-center">
            Shopping Cart
        </h1>
        <div class="item-row-right ">
            <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="p-0 a-btn"><i class="icon-arrow-left-in-square i-btn"></i> </a>
        </div>
    </div>
    <div class="item-header text-header grid-three-column-center main-item header-height" id="cartHeader">
        <div></div>
        <h1 class="item-row-center p-5 font-22">Shopping Cart</h1>
        <div class="item-row p-5">
            <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="p-0 a-btn item-row-right m-r-15"><i class="icon-arrow-left-in-square i-btn"></i> </a>
        </div>
    </div>
    @*     See js code*@
    <div id="columns"></div>

    @if (Model.ListCarts.Count() > 0)
    {
        <div class="grid-total item-shadow-1 rounded-5 m-5" id="defaultDelivery">
            <div class="total-item1 font-bolder">
                Cart Total
            </div>
            <div class="total-item1 text-right font-bolder" id="priceTotal">
            </div>

            <hr class="width-max"><hr class="width-max">
            <a asp-action="Index" asp-controller="Home" class="total-item3 btn-wide btn-secondary text-center rounded-5"> Shopping more </a>
            <a asp-area="Customer" asp-controller="Cart" asp-action="Summary" class="total-item3 btn-wide btn-success text-center rounded-5 m-l-5"> Checkout </a>
        </div>
    }
    <div id="address" class="delivery-address"></div>

</section>
<div class="loader" id="loader"></div>

@section Scripts{
    <script src="~/js/loginMenu.js"></script>
    <script src="~/js/cart.js"></script>  
}
