

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-1" style="margin:auto;">
    <br />
    <div class="row">
        <div class="col-6 offset-3 text-center">
            <h2 class="text-primary">Product List </h2>
        </div>
        <div class="col-3 text-right">
            <a class="btn btn-success" asp-action="Upsert"><i class="fas fa-plus"></i> &nbsp;New Product</a>
        </div>
    </div>

    <br />
    <div class="btn-group container-fluid p-0 m-0 " role="group" aria-label="Basic example">
        <button class="btn btn-primary col- pt-2 pb-2" id="1"> Name <i class="fa fa-arrow-circle-o-down" id="arrow_down_1"></i><i class="fa fa-arrow-circle-o-up" id="arrow_up_1"></i></button>
        <button class="btn btn-primary col-2 pt-2 pb-2 " id="2">Price <i class="fa fa-arrow-circle-o-down" id="arrow_down_2"></i><i class="fa fa-arrow-circle-o-up" id="arrow_up_2"></i></button>
        <button class="btn btn-primary col-2 pt-2 pb-2" id="3">Category <i class="fa fa-arrow-circle-o-down" id="arrow_down_3"></i><i class="fa fa-arrow-circle-o-up" id="arrow_up_3"></i></button>
        <button class="btn btn-primary col-2 pt-2 pb-2" id="4">Event <i class="fa fa-arrow-circle-o-down" id="arrow_down_4"></i><i class="fa fa-arrow-circle-o-up" id="arrow_up_4"></i></button>
        <div class="btn list-group-item-primary text-white col-2 pt-2 pb-2" > </div>
    </div>
    <div class="container-fluid " role="group" aria-label="Basic example">
        <div id="columns"></div>
    </div>
</div>


@section Scripts{

    <script src="~/js/test.js"></script>
}

