
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="form-container shadow5 background-bright-grey" id="tableContainer">
   @* Mobile Layout*@
    <div class="item-header text-header grid-three-column-center mobile-item ">
        <div class="item-row-right ">
            <a asp-action="Index" asp-area="Customer" asp-controller="Home" class="p-0 a-btn"><i class="icon-arrow-left-in-square i-btn "></i></a>
        </div>
        <h1 class="item-row-center">
            Category List
        </h1>

        <div class="item-row-right ">
            <a asp-action="Upsert" class="p-0 a-btn"><i class="icon-plus-in-square i-btn"></i> </a>
        </div>
    </div>
@*    Main layout*@
    <div class="item-header text-header grid-three-column-center main-item shadow5 header-height" >
        <div class="item-row p-5 ">
            <a asp-action="Index" asp-area="Customer" asp-controller="Home" class="p-0 a-btn item-row-left m-l-15"><i class="icon-arrow-left-in-square i-btn "></i></a>
        </div>
        <h1 class="item-row-center p-5 font-22">
            Category List
        </h1>
        <div class="item-row p-5">
            <a asp-action="Upsert" class="p-0 a-btn item-row-right m-r-15"><i class="icon-plus-in-square i-btn"></i> </a>
        </div>
    </div>
    @*     See js code*@
<div id="columns" class="border-3 background-medium-grey height-398-main"></div>
</section>
<div class="loader" id="loader"></div>

@section Scripts{

    <script src="~/js/category.js"></script>
}

